@model Empleado

@{
    ViewData["Title"] = "Eliminar Empleado";
}

<div class="container">
    <h3>¿Está seguro que desea eliminar este empleado?</h3>
    <div>
        <h4>Detalles del Empleado</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@Model.Nombre @Model.Apellidos</dd>

            <dt class="col-sm-3">Cédula:</dt>
            <dd class="col-sm-9">@Model.Cedula</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Rol:</dt>
            <dd class="col-sm-9">@Model.Rol</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>